<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin - Dashboard</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="/vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

		<a class="navbar-brand mr-1" href="index.html">INCAMAR</a>

		<button class="btn btn-link btn-sm text-white order-1 order-sm-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Navbar Search -->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
			<div class="input-group"></div>
		</form>

		<!-- Navbar -->
		<ul class="navbar-nav ml-auto ml-md-0">


			<li class="nav-item dropdown no-arrow"><a
				class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-user-circle fa-fw"></i>
			</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="userDropdown">
					<h6 class="dropdown-header">Usuario:</h6>
					<a class="dropdown-item">Alejandro</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" data-toggle="modal"
						data-target="#logoutModal">Logout</a>
				</div></li>
		</ul>

	</nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav">
			<li class="nav-item active"><a class="nav-link"
				href="index.html"> <i class="fas fa-anchor"></i> <span>Home</span>
			</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="pagesDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-fw fa-folder"></i> <span>Gestion</span>
			</a>

				<div class="dropdown-menu" aria-labelledby="pagesDropdown">
					<a class="dropdown-item" href="login.html">Area</a> <a
						class="dropdown-item" href="login.html">Marca</a> <a
						class="dropdown-item" href="register.html">Repuesto</a> <a
						class="dropdown-item" href="forgot-password.html">Maquina</a> <a
						class="dropdown-item" href="forgot-password.html">Inspección</a> <a
						class="dropdown-item" href="forgot-password.html">Matenimiento</a>
					<a class="dropdown-item" href="forgot-password.html">Usuario</a>
					<div class="dropdown-divider"></div>
				</div></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="pagesDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-fw fa-table"></i> <span>Reportes</span>
			</a>
				<div class="dropdown-menu" aria-labelledby="pagesDropdown">
					<h6 class="dropdown-header">Más incidencias:</h6>
					<a class="dropdown-item" href="register.html">Mes</a> <a
						class="dropdown-item" href="login.html">Area</a> <a
						class="dropdown-item" href="register.html">Maquina</a>

					<h6 class="dropdown-header">Más solicitado:</h6>
					<a class="dropdown-item" href="forgot-password.html">Repuesto</a>
					<div class="dropdown-divider"></div>
				</div></li>





		</ul>

		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Repuesto</h1>

					<hr class="sidebar-divider">
					<div th:object="${sparepart}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>
					</div>

					<form th:action="@{/spareparts/save}" th:object="${sparepart}"
						method="post">
						
						
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Id</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{id_Sparepart}" class="form-control"
									readonly th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('id_Sparepart')}"
									th:errors="*{id_Sparepart}"></small>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="nSparepart" class="col-sm-2 col-form-label">Repuesto</label>
							<div class="col-sm-6">
								<input autofocus type="text" th:field="*{nSparepart}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('nSparepart')}"
									th:errors="nSparepart"></small>
							</div>
						</div>
						
						
						<div class="form-group row">
							<label for="p_Sparepart" class="col-sm-2 col-form-label">Precio:
							</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{p_Sparepart}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('p_Sparepart')}" th:errors="*{p_Sparepart}"></small>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="color" class="col-sm-2 col-form-label">Marcas:</label>
							<div class="col-sm-6">
								<select class="custom-select custom-select-sm"
									th:field="*{brand}">
									<option th:each="brand : ${listBrands}"
										th:value="${brand.id_Brand}" th:utext="${brand.n_Brand}" />
								</select>
							</div>
						</div>
						


						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" value="Guardar" class="btn btn-secondary"></input>
								<a href="/spareparts/list" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
						<p th:text="${mensaje}" class="form-text text-danger"></p>
					</form>
				</div>
			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer class="sticky-footer">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright © Your Website Progra Web-2019♥</span>
					</div>
				</div>
			</footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="/vendor/chart.js/Chart.min.js"></script>
	<script src="/vendor/datatables/jquery.dataTables.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="/js/demo/datatables-demo.js"></script>
	<script src="/js/demo/chart-area-demo.js"></script>

</body>

</html>
